# PRACTICE TEST I: questions to improve

## SET UP

In [1]:
!pip install findspark

import findspark
findspark.init()

Requirement already satisfied: findspark in c:\users\sobando\anaconda3\lib\site-packages (1.3.0)

In [6]:
# Cargar Pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("Test_spark").master("local[*]").getOrCreate()

In [15]:
spark

## TEST

* An Energy Company keeps detailed information about their customers. For an Machine Learning project, the project team is tasked with writing the most user friendly code.  To predict customer behavior patterns, team needs to create a Dataframe that needs to hold all customer details except sensitive info namely the Customer's SSN and Age. Choose the most effective option below.

In [14]:
df = spark.createDataFrame([

['John','New York',25,'111-11-1111','M'],

['Jill','California',24,'222-22-2222','F']],('name','address','age','ssn','gender'))

df.drop("age","ssn").show()

+----+----------+------+
|name|   address|gender|
+----+----------+------+
|John|  New York|     M|
|Jill|California|     F|
+----+----------+------+

* Below is a Dataframe that has a field called Address but contains the city name alone. Below is the code to change the field name to 'City' appropriately. Choose the right option.

In [17]:
df = spark.createDataFrame([

['John','New York',25,'111-11-1111','M'],

['Jill','California',24,'222-22-2222','F']],('name','address','age','ssn','gender'))

df.withColumnRenamed('address','city').show()

+----+----------+---+-----------+------+
|name|      city|age|        ssn|gender|
+----+----------+---+-----------+------+
|John|  New York| 25|111-11-1111|     M|
|Jill|California| 24|222-22-2222|     F|
+----+----------+---+-----------+------+

There is a Email Marketing company that sends automated emails to potential customers for up-selling products. The source data feeds for customer information has a single field for name that has a combined first & last name. For marketing needs the email needs to be sent out using last name alone.

Below is the code to store the last name as a separate column. Choose the appropriate option.

In [18]:
df = spark.createDataFrame([

['Jane Miranda','Los Angeles','janem@mailcom'],

['Lisa Smith','Chicago','lsmith@mail.com']],('name','city','email'))

In [20]:
df.withColumn("Iname",split(col("name"),' ')[1]).show()

+------------+-----------+---------------+-------+
|        name|       city|          email|  Iname|
+------------+-----------+---------------+-------+
|Jane Miranda|Los Angeles|  janem@mailcom|Miranda|
|  Lisa Smith|    Chicago|lsmith@mail.com|  Smith|
+------------+-----------+---------------+-------+

* One of the Data transformation requirements is to normalize Age to a smaller number. Select the appropriate option from below.

In [21]:
df = spark.createDataFrame([

['John','Boston',30],

['Smith','New York',20],

                                               ['Sandra','Detroit',25],],('name','city','age'))

In [25]:
df.select(df.name,when(df.age<25,3).when(df.age>25,1).otherwise(2).alias('Column')).show()

+------+------+
|  name|Column|
+------+------+
|  John|     1|
| Smith|     3|
|Sandra|     2|
+------+------+

* Find the lowest salary in the below DataFrame

In [26]:
df = spark.createDataFrame([

['Bob','Boston',10000],

['Will','New York',12000],

                        ['Lisa','Detroit',13000],

                        ['Zoe','Detroit',None],],('name','city','salary'))

df.where(df.salary.isNotNull())

df.withColumn("salary",col("salary")*1.02)

df.where(df.name == 'Bob').withColumn("salary",col("salary")*1.5)

df.show()

+----+--------+------+
|name|    city|salary|
+----+--------+------+
| Bob|  Boston| 10000|
|Will|New York| 12000|
|Lisa| Detroit| 13000|
| Zoe| Detroit|  null|
+----+--------+------+

* dentify the output of the code. Whose name comes up in the first Row?

In [28]:
df = spark.createDataFrame([

['Joe',25],

['Smith',27],

                                                [None,28],

                                                ['Sharon',33]],('name','age'))

df = df.filter(col("age") < 30).filter(col("age") > 20)

df = df.select("*").orderBy(col("name"))

df.show()

+-----+---+
| name|age|
+-----+---+
| null| 28|
|  Joe| 25|
|Smith| 27|
+-----+---+

Identify the output of the code. Whose name comes up in the first Row?

In [29]:
df = spark.createDataFrame([

                    ['Joe',25],

                    ['Smith',27],

                    [None,28],

                    ['Sharon',33]],('name','score'))

df.select("name").orderBy(desc("score")).show()

+------+
|  name|
+------+
|Sharon|
|  null|
| Smith|
|   Joe|
+------+

* What is the significance of the grouping clause below?

In [8]:
df = spark.createDataFrame([

                    ['Will','SALES - ENERGY','Sr Rep',25000],

                    ['Tom','SALES - RETAIL','Sr Rep',50000],

                    ['Bill','SALES - RETAIL','Jr Rep',12000],

                    ['Vanessa','SALES - ENERGY','Jr Rep',18000]],('name','dept','designation','sales'))

df.rollup("dept","designation").agg(grouping("dept"),sum("sales")).show()

+--------------+-----------+--------------+----------+
|          dept|designation|grouping(dept)|sum(sales)|
+--------------+-----------+--------------+----------+
|          null|       null|             1|    105000|
|SALES - RETAIL|     Sr Rep|             0|     50000|
|SALES - ENERGY|     Sr Rep|             0|     25000|
|SALES - ENERGY|       null|             0|     43000|
|SALES - RETAIL|       null|             0|     62000|
|SALES - ENERGY|     Jr Rep|             0|     18000|
|SALES - RETAIL|     Jr Rep|             0|     12000|
+--------------+-----------+--------------+----------+

* The Dataframe consists of many records that don't have values in the department column. For a departmental salary analysis, the records without value in the department column needs to be removed. Choose the appropriate command to achieve this objective.

In [30]:
df = spark.createDataFrame([

                    ['Tony',None,8000],

                    ['Mona',None,10000],

                    ['Jill','Sales',5000],

                    ['Tim','IT',7000]],('name','dept','salary'))

In [31]:
df.na.drop(how='any').show()

+----+-----+------+
|name| dept|salary|
+----+-----+------+
|Jill|Sales|  5000|
| Tim|   IT|  7000|
+----+-----+------+

* What is the output of "set_salary" for "HR" dept?

In [9]:
dfEmp = spark.createDataFrame([

                    ['William',"HR",8000],

                    ['Bob',"HR",8000],

                    ['Lisa','HR',5000],

                    ['Marie','ADMIN',7000]],('name','dept','salary'))

dfEmp.groupBy("dept").agg(collect_set("salary").alias("set_salary")).show()

+-----+------------+
| dept|  set_salary|
+-----+------------+
|   HR|[8000, 5000]|
|ADMIN|      [7000]|
+-----+------------+

* When the below dataframe's are joined with each other, there should not be any data loss;all the records from both the dataframes should be displayed. What is the appropriate join option?

In [40]:
dfEmp = spark.createDataFrame([

                    ['Tony',"HR",8000],

                    ['Mona',None,10000],

                    ['Jill','Sls',5000],

                    ['Tim','Admin',7000]],('name','dept','salary'))



dfDept = spark.createDataFrame([

                    ['Sls','Sales'],

                    ['Admin','Administration'],

                    ['IT','Information Tech']],('dept','dept_name'))

dfEmp.join(dfDept, dfEmp.dept == dfDept.dept, 'outer').show()

+----+-----+------+-----+----------------+
|name| dept|salary| dept|       dept_name|
+----+-----+------+-----+----------------+
|Tony|   HR|  8000| null|            null|
|Mona| null| 10000| null|            null|
| Tim|Admin|  7000|Admin|  Administration|
|null| null|  null|   IT|Information Tech|
|Jill|  Sls|  5000|  Sls|           Sales|
+----+-----+------+-----+----------------+

* Based on code below, what is the "profit_loss_ind" for "ABC"?

In [33]:
dfNetIncome = spark.createDataFrame([

                    ['ABC',-20000],

                    ['XYZ',10000]],('company_name','profit_loss'))

dfNetIncome = dfNetIncome.withColumn("profit_loss",abs(col("profit_loss")))

dfNetIncome = dfNetIncome.select(col("company_name"),col("profit_loss"),when(dfNetIncome.profit_loss < 0,"L").otherwise("P").alias("profit_loss_ind"))

dfNetIncome.show()

+------------+-----------+---------------+
|company_name|profit_loss|profit_loss_ind|
+------------+-----------+---------------+
|         ABC|      20000|              P|
|         XYZ|      10000|              P|
+------------+-----------+---------------+

* For the given code below, what is the "salesRank" for "Headphones"?

In [41]:
from pyspark.sql.window import Window

dfSales= spark.createDataFrame([

                    ['TV',200],

                    ['Headphones',400],

                    ['Phones',300],

                    ['Kitchen',500],

                    ['Office',300]],('itemName','sales_quantity'))



windowSpec = Window.orderBy("sales_quantity")

salesRank = rank().over(windowSpec)

dfSales.select(

       col("itemName"),

       col("sales_quantity"),

       salesRank.alias("salesRank")

).show()

+----------+--------------+---------+
|  itemName|sales_quantity|salesRank|
+----------+--------------+---------+
|        TV|           200|        1|
|    Phones|           300|        2|
|    Office|           300|        2|
|Headphones|           400|        4|
|   Kitchen|           500|        5|
+----------+--------------+---------+

* What is the output of the below code (in relation to the current date)?

In [35]:
df = df.withColumn("date_col",trunc(current_date(),"yyyy"))
df.show()

+----+-----+------+----------+
|name| dept|salary|  date_col|
+----+-----+------+----------+
|Tony| null|  8000|2020-01-01|
|Mona| null| 10000|2020-01-01|
|Jill|Sales|  5000|2020-01-01|
| Tim|   IT|  7000|2020-01-01|
+----+-----+------+----------+

* Choose the correct output of below?

In [44]:
df.select(map(lit("1"), lit("John"))).limit(1).show()

TypeError: Column is not iterable

* What is the output of "set_salary" for "HR" dept?

In [42]:
dfEmp = spark.createDataFrame([

                    ['William',"HR",8000],

                    ['Bob',"HR",8000],

                    ['Lisa','HR',5000],

                    ['Marie','ADMIN',7000]],('name','dept','salary'))

dfEmp.groupBy("dept").agg(collect_set("salary").alias("set_salary")).show()

+-----+------------+
| dept|  set_salary|
+-----+------------+
|   HR|[8000, 5000]|
|ADMIN|      [7000]|
+-----+------------+

* Choose the correct option below?

In [11]:
df = df.select(create_map(lit("1"), lit("John"),lit("2"),lit("Marie")).alias("empDetails")).limit(1)

df.select(map_keys("empDetails").alias("keys")).show()

+------+
|  keys|
+------+
|[1, 2]|
+------+

* What are Spark Executors?

They are responsible for running Application Tasks

* There is a requirement to join all data between 2 Dataframes, one Dataframe based on billions of sales records and the other Dataframe with less than 100,000 records with the Dept Names and Dept IDs of departments. The common key between the two Dataframes is Dept ID. From a performance standpoint, what is the ideal strategy from given options below?

Broadcast the samller DF

* How many columns will the below code store in output TEXT file?

In [12]:
dfEmp = spark.createDataFrame([

                    ['Tony',"HR",8000],

                    ['Mona',None,10000],

                    ['Jill','Sls',5000],

                    ['Tim','Admin',7000]],('name','dept','salary'))

dfEmp = dfEmp.drop("dept")

dfEmp = dfEmp.withColumn("commision",col("salary")*1.03)

path="/Temp/Data/empDetails.txt"

dfEmp.write.text(path)

AnalysisException: Text data source does not support bigint data type.;

* An Retail company processes its sales in Apache Spark on a daily batch basis. Each day, the sales is added into "sales_details.parquet" file that contains historical and on-going daily sales. what is the most appropriate option to ensure that the sales are loaded without failures?

mode == append

* What does the "True" option below refer to?

```PYTHON
SCHEMA = StructType([

            StructField("id",IntegerType(),True),

            StructField("name",StringType(),True)

])
```

The Column can have empty values

* Choose the appropriate number of columns displayed by the code below.

In [13]:
SCHEMA = StructType([

            StructField("name",StringType(),True),

            StructField("dept",StringType(),True),

            StructField("daily_commision",IntegerType(),True)

])

dfEmp = spark.createDataFrame([

                    ['Tony',"HR",85.65],

                    ['Tim','Admin',94.75]],SCHEMA)

dfEmp = dfEmp.withColumn("designation",lit("TBD"))

dfEmp.drop("dept")

dfEmp = dfEmp.withColumnRenamed("name","first_name")

dfEmp.show()nRenamed("name","first_name")

dfEmp.show()

SyntaxError: invalid syntax (<ipython-input-13-2cfb652f5bdf>, line 23)

* From the below code, estimate the salary of Mona.

In [46]:
dfEmp = spark.createDataFrame([

                    ['Tony',"HR",8000],

                    ['Mona',None,10000],

                    ['Jill','Sls',5000],

                    ['Tim','Admin',7000]],('name','dept','salary'))

def test_comm(x):

  return x * 1.05

testcomm = udf(test_comm)

dfEmp.select(col("name"),testcomm(col("salary"))).show()

+----+-----------------+
|name|test_comm(salary)|
+----+-----------------+
|Tony|           8400.0|
|Mona|          10500.0|
|Jill|           5250.0|
| Tim|           7350.0|
+----+-----------------+

* Spark 2.X vs Spark 3.X :- Which of the following statement is True?

Spark 2.X does not recognize GPU accelerator; Spark 3.X recognizes GPU accelerator natively

* What is the output of the below code

In [48]:
df.withColumn("last_day",last_day(current_date())).show()

+----+-----+------+----------+----------+
|name| dept|salary|  date_col|  last_day|
+----+-----+------+----------+----------+
|Tony| null|  8000|2020-01-01|2020-12-31|
|Mona| null| 10000|2020-01-01|2020-12-31|
|Jill|Sales|  5000|2020-01-01|2020-12-31|
| Tim|   IT|  7000|2020-01-01|2020-12-31|
+----+-----+------+----------+----------+

* An Email Marketing campaign company gets customer information from various clients. In some cases, the clients send the zip code as an Integer that leads to the loss of 0's in the beginning of zip codes less than 5 numbers. The task is to add those 0's back again. What is the most efficient method to add the same?

Ipad

* Choose the correct output of below?

In [49]:
df.select(map(lit("1"), lit("John"))).limit(1).show()

TypeError: Column is not iterable

* Choose the correct output of below?

In [50]:
df.select(array(lit("1"),lit("John"))).limit(1).show()

+--------------+
|array(1, John)|
+--------------+
|     [1, John]|
+--------------+