# PRACTICE TEST II: questions to improve

## SET UP

In [3]:
!pip install findspark

import findspark
findspark.init()

Requirement already satisfied: findspark in c:\users\sobando\anaconda3\lib\site-packages (1.3.0)

In [4]:
# Cargar Pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("Test_spark").master("local[*]").getOrCreate()

## TEST

1. The below Dataframe's need to joined with each other in same order below and the output should display all records from dfDept which has no match in the dfEmp Dataframe. What is the appropriate join option?

In [5]:
dfEmp = spark.createDataFrame([

                    ['Tony',"HR",8000],

                    ['Mona',None,10000],

                    ['Jill','Sls',5000],

                    ['Tim','Admin',7000]],('name','dept','salary'))

dfDept = spark.createDataFrame([

                    ['Sls','Sales'],

                    ['Admin','Administration'],

                    ['IT','Information Tech']],('dept','dept_name'))

API

In [16]:
dfEmp.join(dfDept,dfEmp.dept == dfDept.dept,how="left_anti").show()

+----+----+------+
|name|dept|salary|
+----+----+------+
|Tony|  HR|  8000|
|Mona|null| 10000|
+----+----+------+

In [17]:
dfEmp.join(dfDept,dfEmp.dept == dfDept.dept,how="left_semi").show()

+----+-----+------+
|name| dept|salary|
+----+-----+------+
| Tim|Admin|  7000|
|Jill|  Sls|  5000|
+----+-----+------+

SQL

In [18]:
dfEmp.createOrReplaceTempView('Emp')
dfDept.createOrReplaceTempView('Dept')

In [19]:
# SQL script
sql = "SELECT * FROM Emp ANTI JOIN Dept ON Emp.dept = Dept.dept;" 
# Spark SQL
spark.sql(sql).show()

+----+----+------+
|name|dept|salary|
+----+----+------+
|Tony|  HR|  8000|
|Mona|null| 10000|
+----+----+------+

In [20]:
# SQL script
sql = "SELECT * FROM Emp ANTI JOIN Dept ON Emp.dept = Dept.dept;" 
# Spark SQL
spark.sql(sql).show()

+----+----+------+
|name|dept|salary|
+----+----+------+
|Tony|  HR|  8000|
|Mona|null| 10000|
+----+----+------+

Reference = https://spark.apache.org/docs/latest/sql-ref-syntax-qry-select-join.html

How many records will the below query display?

In [24]:
dfEmp = spark.createDataFrame([

                    ['Tony',"HR",8000],

                    ['Mona',None,10000],

                    ['Jill','Sls',5000],

                    ['Tim','Admin',7000]],('name','dept','salary'))

dfDept = spark.createDataFrame([

                    ['Sls','Sales'],

                    ['Admin','Administration'],

                    ['IT','Information Tech']],('dept','dept_name'))

df = dfEmp.join(dfDept,"dept","outer")
df.show()

+-----+----+------+----------------+
| dept|name|salary|       dept_name|
+-----+----+------+----------------+
|   HR|Tony|  8000|            null|
| null|Mona| 10000|            null|
|Admin| Tim|  7000|  Administration|
|   IT|null|  null|Information Tech|
|  Sls|Jill|  5000|           Sales|
+-----+----+------+----------------+

In [25]:
df = df.na.drop("any")
df.show()

+-----+----+------+--------------+
| dept|name|salary|     dept_name|
+-----+----+------+--------------+
|Admin| Tim|  7000|Administration|
|  Sls|Jill|  5000|         Sales|
+-----+----+------+--------------+

3. A source data file has 5 columns. One of the columns has bad data and will cause the read to fail for a few records. In order to ensure that the file reads successfully for the good quality records and keep track of the bad data to analyze further, what is the appropriate option below?

columnNameOfCorruptRecord

4. The source data to be read into a DataFrame exists in a SQL Database. In order to reduce the number of records processed by the Dataframe, we need to reduce the number of records sourced from the read action.

Set upperbpund, lowerbound, numPartitions

5. How many columns will the write command output in CSV file, based on last line of code below?

In [29]:
dfEmp = spark.createDataFrame([

                    ['Tony',"HR",8000],

                    ['Mona',None,10000],

                    ['Jill','Sls',5000],

                    ['Tim','Admin',7000]],('name','dept','salary'))

path="empDetails.csv"

dfEmp = dfEmp.withColumn("commision",col("salary")*1.03)

dfEmp.write.csv(path)

dfEmp = dfEmp.drop("dept")

dfEmp.write.csv(path)

AnalysisException: path file:/C:/Users/sobando/Downloads/SPARK_PRACTICE/empDetails.csv already exists.;

6. An Retail company processes its sales in Apache Spark on a daily batch basis. Each day, the sales is added into "sales_details.parquet" file that contains historical and on-going daily sales. what is the most appropriate compression option for parquet files to have optimal performance?

In [ ]:
No es claro

7. There is a Dataframe that has 30+ Columns. For further analysis, we need a specific set of 3 columns to be selected for further analysis. All options given below are suitable for the requirement except one. Choose the invalid option.

df.select(cols("fname","lname","sales")).show()

8.Choose the correct option to display the contents of the Row

In [31]:
from pyspark.sql import Row

cust = Row("fname","lname")

custRow = cust("John","Doe")

In [33]:
custRow[:]

('John', 'Doe')

9. The Dataframe df consists of information related to sales dept. Due to sales team hitting their targets, the management has provided a directive to assign 5% commission. Select the appropriate option from below.

In [37]:
df = spark.createDataFrame([

['John','Doe','25','2800'],

['Joe','Smith','24','2600']],('fname','lname','age','sales'))

In [38]:
from pyspark.sql.types import IntegerType

df.withColumn("sales_com",col("sales").cast(IntegerType())*0.05).show()

+-----+-----+---+-----+---------+
|fname|lname|age|sales|sales_com|
+-----+-----+---+-----+---------+
| John|  Doe| 25| 2800|    140.0|
|  Joe|Smith| 24| 2600|    130.0|
+-----+-----+---+-----+---------+

10. There are different methods to create a Dataframe in order run small tests. One of the options below will not provide the desired output. Choose the incorrect option.

In [40]:
df = spark.createDataFrame([
    ['John','Boston','john@mailcom'],
    ['Smith','New York','smith@mail.com']
],('name','city','email'))

In [41]:
df.show()

+-----+--------+--------------+
| name|    city|         email|
+-----+--------+--------------+
| John|  Boston|  john@mailcom|
|Smith|New York|smith@mail.com|
+-----+--------+--------------+

In [42]:
df = spark.createDataFrame([
    ['John','Boston','john@mailcom'],
    ['Smith','New York','smith@mail.com']
]).toDF('name','city','email')

In [43]:
df.show()

+-----+--------+--------------+
| name|    city|         email|
+-----+--------+--------------+
| John|  Boston|  john@mailcom|
|Smith|New York|smith@mail.com|
+-----+--------+--------------+

In [44]:
df = spark.createDataFrame([
    ['John','Boston','john@mailcom'],
    ['Smith','New York','smith@mail.com']
]).withColumnRenamed(col('name'),col('city'),col('email'))

TypeError: withColumnRenamed() takes 3 positional arguments but 4 were given

In [45]:
lst=['name','city','email']
df = spark.createDataFrame([
    ['John','Boston','john@mailcom'],
    ['Smith','New York','smith@mail.com']
],lst)

In [46]:
df.show()

+-----+--------+--------------+
| name|    city|         email|
+-----+--------+--------------+
| John|  Boston|  john@mailcom|
|Smith|New York|smith@mail.com|
+-----+--------+--------------+

11. As part of existing Spark Code, there is a Global View "gvSales" that has been created. In order to select data from the global view, choose the appropriate option from below.

spark.sql("select * from gvSales").show()

12. The number of tables have grown manifold in the Test Environment, due to various teams creating their own versions for testing different concepts. The QA Lead is tasked with finding all the table names to share with the team to take appropriate action. Choose the valid option from below to find the list of tables.

In [49]:
spark.show()

AttributeError: 'SparkSession' object has no attribute 'show'

In [48]:
spark.catalog.listTables()

[Table(name='dept', database=None, description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='emp', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [50]:
spark.catalog.databases(tables=True)

AttributeError: 'Catalog' object has no attribute 'databases'

In [51]:
spark.show(tables=True)

AttributeError: 'SparkSession' object has no attribute 'show'

13. An Email Marketing company has a requirement to check the length of COMMENTS field before it sends the final file to partner organizations. The options given below will all work except one. Find the invalid option.

df.selectEval("length(comments)").show()

14. In order to improve readability, you have been tasked to rename the outputs of your select commands. Choose the correct option below.

df.select(col("name").alias("employee_name")).show()

15. Find the lowest salary in the below DataFrame

In [52]:
df = spark.createDataFrame([

['Bob','Boston',10000],

['Will','New York',12000],

                        ['Lisa','Detroit',13000],

                        ['Zoe','Detroit',None],],('name','city','salary'))



df = df.where(df.salary.isNotNull())

df = df.withColumn("salary",col("salary")*1.02)

df = df.where(df.name == 'Bob').withColumn("salary",col("salary")*1.5)

df.show()

+----+------+-------+
|name|  city| salary|
+----+------+-------+
| Bob|Boston|15300.0|
+----+------+-------+

16. How many records are displayed after executing the below code?

In [53]:
df = spark.createDataFrame([

['Joe',25],

['Smith',27],

                        [None,28],

                        ['Sharon',33]],('name','age'))

df = df.filter(col("age") < 30).filter(col("age") > 20)

df.filter(col("name").isNotNull())

df.show()

+-----+---+
| name|age|
+-----+---+
|  Joe| 25|
|Smith| 27|
| null| 28|
+-----+---+

17. Identify the output of the code. Whose name comes up in the first Row?

In [55]:
df = spark.createDataFrame([

                    ['Joe',25],

                    ['Smith',27],

                    [None,28],

                    ['Sharon',33]],('name','score'))

df = df.filter(col("score") < 30).filter(col("score") > 20)

df = df.withColumn(col("score"),col("score") * 1.8)

df = df.select("*").orderBy(col("score").desc())

df.show()

TypeError: Column is not iterable

18. Identify the output of the code. Whose name comes up in the first Row?

In [56]:
df = spark.createDataFrame([

                    ['Joe',25],

                    ['Smith',27],

                    [None,28],

                    ['Sharon',33]],('name','score'))

df.filter(col("name") != 'Smith')

df.select("*").orderBy(col("score").desc_nulls_last())

df.show()

+------+-----+
|  name|score|
+------+-----+
|   Joe|   25|
| Smith|   27|
|  null|   28|
|Sharon|   33|
+------+-----+

19. What is the output of the below code?

In [57]:
df = spark.createDataFrame([

                    ['Will','SALES - ENERGY','Sr Rep',25000],

                    ['Tom','SALES - RETAIL','Sr Rep',50000],

                    ['Bill','SALES - RETAIL','Jr Rep',12000],

                    ['Vanessa','SALES - ENERGY','Jr Rep',18000]],('name','dept','designation','sales'))

df.cube("dept","designation").agg(sum("sales")).orderBy("dept","designation").show()

+--------------+-----------+----------+
|          dept|designation|sum(sales)|
+--------------+-----------+----------+
|          null|       null|    105000|
|          null|     Jr Rep|     30000|
|          null|     Sr Rep|     75000|
|SALES - ENERGY|       null|     43000|
|SALES - ENERGY|     Jr Rep|     18000|
|SALES - ENERGY|     Sr Rep|     25000|
|SALES - RETAIL|       null|     62000|
|SALES - RETAIL|     Jr Rep|     12000|
|SALES - RETAIL|     Sr Rep|     50000|
+--------------+-----------+----------+

20. A Dataframe contains sales of employees within the marketing dept. The team has to find out the lowest and highest sale made by all employees broken down by department. What command would satisfy below requirement?

In [58]:
df.groupBy("dept").agg(min("sales"),max("sales")).show()

+--------------+----------+----------+
|          dept|min(sales)|max(sales)|
+--------------+----------+----------+
|SALES - ENERGY|     18000|     25000|
|SALES - RETAIL|     12000|     50000|
+--------------+----------+----------+

21.The Dataframe consists of records that have a values of "Ad" in the department column. For a departmental salary analysis, the records with "Ad" need to be substituted with "Admin Dept". Choose the appropriate command to achieve this objective.

In [59]:
df = spark.createDataFrame([

                    ['Tony',"HR",8000],

                    ['Mona',"Ad",10000],

                    ['Jill','Sales',5000],

                    ['Tim','Admin',7000]],('name','dept','salary'))

In [60]:
df.na.replace("Ad","Admin",subset=['dept']).show()

+----+-----+------+
|name| dept|salary|
+----+-----+------+
|Tony|   HR|  8000|
|Mona|Admin| 10000|
|Jill|Sales|  5000|
| Tim|Admin|  7000|
+----+-----+------+

22. There are multiple options to view names of columns once they have been defined in a schema structure. All options given below will work except one. Choose the invalid option?

In [65]:
from pyspark.sql.types import *

SCHEMA = StructType([

            StructField("name",StringType(),True),

            StructField("dept",StringType(),True),

            StructField("salary",IntegerType(),True)

])

dfEmp = spark.createDataFrame([

                    ['Tony',"HR",8000],

                    ['Mona',None,10000],

                    ['Jill','Sls',5000],

                    ['Tim','Admin',7000]],SCHEMA)

In [66]:
SCHEMA

StructType(List(StructField(name,StringType,true),StructField(dept,StringType,true),StructField(salary,IntegerType,true)))

In [67]:
dfEmp.schema

StructType(List(StructField(name,StringType,true),StructField(dept,StringType,true),StructField(salary,IntegerType,true)))

In [68]:
SCHEMA.columnNames()

AttributeError: 'StructType' object has no attribute 'columnNames'

In [69]:
SCHEMA.fieldNames()

['name', 'dept', 'salary']

23. A schema structure has been created initially with a set of columns. Task is to modify the schema to create a new field. Choose the valid option below?

In [77]:
SCHEMA = StructType([

            StructField("name",StringType(),True),

            StructField("dept",StringType(),True),

            StructField("salary",IntegerType(),True)

])

In [73]:
SCHEMA.append(StructType([StructField("commision_percent",IntegerType(),True)]))

AttributeError: 'StructType' object has no attribute 'append'

In [79]:
SCHEMA.add("commision_percent",IntegerType(),True)

StructType(List(StructField(name,StringType,true),StructField(dept,StringType,true),StructField(salary,IntegerType,true),StructField(commision_percent,IntegerType,true)))

24. From the below code, estimate the salary of Mona.

In [80]:
dfEmp = spark.createDataFrame([

                    ['Tony',"HR",8000],

                    ['Mona',None,10000],

                    ['Jill','Sls',5000],

                    ['Tim','Admin',7000]],('name','dept','salary'))

def test_comm(x):

  return x * 1.05

spark.udf.register("testcomm", test_comm)

dfEmp.select(col("name"),testcomm(col("salary"))).show()

NameError: name 'testcomm' is not defined

30. For the given code below, what is the "salesDenseRank" for "Headphones"?

In [82]:
from pyspark.sql import Window

dfSales= spark.createDataFrame([

                    ['TV',200],

                    ['Headphones',400],

                    ['Phones',300],

                    ['Kitchen',500],

                    ['Office',300]],('itemName','sales_quantity'))

windowSpec = Window.orderBy("sales_quantity")

salesDenseRank = dense_rank().over(windowSpec)

dfSales.select(

       col("itemName"),

       col("sales_quantity"),

       salesDenseRank.alias("salesDenseRank")

).show()

+----------+--------------+--------------+
|  itemName|sales_quantity|salesDenseRank|
+----------+--------------+--------------+
|        TV|           200|             1|
|    Phones|           300|             2|
|    Office|           300|             2|
|Headphones|           400|             3|
|   Kitchen|           500|             4|
+----------+--------------+--------------+

31. Choose the correct option for row "William T", based on code below.

In [83]:
df = spark.createDataFrame([

                    ['William T',"HR",8000],

                    ['Bob H',"HR",8000],

                    ['Lisa M','HR',5000],

                    ['Marie A','ADMIN',7000]],('name','dept','salary'))

df = df.withColumn("splitName", split(col("name"), " "))

df = df.withColumn("explodeName", explode(col("splitName")))

df.select("dept", "salary", "explodeName").show()

+-----+------+-----------+
| dept|salary|explodeName|
+-----+------+-----------+
|   HR|  8000|    William|
|   HR|  8000|          T|
|   HR|  8000|        Bob|
|   HR|  8000|          H|
|   HR|  5000|       Lisa|
|   HR|  5000|          M|
|ADMIN|  7000|      Marie|
|ADMIN|  7000|          A|
+-----+------+-----------+

32. Choose the correct option below.

In [84]:
df = df.select(create_map(lit("1"), lit("John"),lit("2"),lit("Marie")).alias("empDetails")).limit(1)

df.select(map_values("empDetails").alias("keys")).show()

+-------------+
|         keys|
+-------------+
|[John, Marie]|
+-------------+