# PRACTICE TEST II: questions to improve

## SET UP

In [3]:
!pip install findspark

import findspark
findspark.init()

Requirement already satisfied: findspark in c:\users\sobando\anaconda3\lib\site-packages (1.3.0)

In [4]:
# Cargar Pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("Test_spark").master("local[*]").getOrCreate()

## TEST

1. The below Dataframe's need to joined with each other in same order below and the output should display all records from dfDept which has no match in the dfEmp Dataframe. What is the appropriate join option?

In [5]:
dfEmp = spark.createDataFrame([

                    ['Tony',"HR",8000],

                    ['Mona',None,10000],

                    ['Jill','Sls',5000],

                    ['Tim','Admin',7000]],('name','dept','salary'))

dfDept = spark.createDataFrame([

                    ['Sls','Sales'],

                    ['Admin','Administration'],

                    ['IT','Information Tech']],('dept','dept_name'))

API

In [16]:
dfEmp.join(dfDept,dfEmp.dept == dfDept.dept,how="left_anti").show()

+----+----+------+
|name|dept|salary|
+----+----+------+
|Tony|  HR|  8000|
|Mona|null| 10000|
+----+----+------+

In [17]:
dfEmp.join(dfDept,dfEmp.dept == dfDept.dept,how="left_semi").show()

+----+-----+------+
|name| dept|salary|
+----+-----+------+
| Tim|Admin|  7000|
|Jill|  Sls|  5000|
+----+-----+------+

SQL

In [18]:
dfEmp.createOrReplaceTempView('Emp')
dfDept.createOrReplaceTempView('Dept')

In [19]:
# SQL script
sql = "SELECT * FROM Emp ANTI JOIN Dept ON Emp.dept = Dept.dept;" 
# Spark SQL
spark.sql(sql).show()

+----+----+------+
|name|dept|salary|
+----+----+------+
|Tony|  HR|  8000|
|Mona|null| 10000|
+----+----+------+

In [20]:
# SQL script
sql = "SELECT * FROM Emp ANTI JOIN Dept ON Emp.dept = Dept.dept;" 
# Spark SQL
spark.sql(sql).show()

+----+----+------+
|name|dept|salary|
+----+----+------+
|Tony|  HR|  8000|
|Mona|null| 10000|
+----+----+------+

Reference = https://spark.apache.org/docs/latest/sql-ref-syntax-qry-select-join.html

How many records will the below query display?

In [24]:
dfEmp = spark.createDataFrame([

                    ['Tony',"HR",8000],

                    ['Mona',None,10000],

                    ['Jill','Sls',5000],

                    ['Tim','Admin',7000]],('name','dept','salary'))

dfDept = spark.createDataFrame([

                    ['Sls','Sales'],

                    ['Admin','Administration'],

                    ['IT','Information Tech']],('dept','dept_name'))

df = dfEmp.join(dfDept,"dept","outer")
df.show()

+-----+----+------+----------------+
| dept|name|salary|       dept_name|
+-----+----+------+----------------+
|   HR|Tony|  8000|            null|
| null|Mona| 10000|            null|
|Admin| Tim|  7000|  Administration|
|   IT|null|  null|Information Tech|
|  Sls|Jill|  5000|           Sales|
+-----+----+------+----------------+

In [25]:
df = df.na.drop("any")
df.show()

+-----+----+------+--------------+
| dept|name|salary|     dept_name|
+-----+----+------+--------------+
|Admin| Tim|  7000|Administration|
|  Sls|Jill|  5000|         Sales|
+-----+----+------+--------------+

3. A source data file has 5 columns. One of the columns has bad data and will cause the read to fail for a few records. In order to ensure that the file reads successfully for the good quality records and keep track of the bad data to analyze further, what is the appropriate option below?

columnNameOfCorruptRecord

4. The source data to be read into a DataFrame exists in a SQL Database. In order to reduce the number of records processed by the Dataframe, we need to reduce the number of records sourced from the read action.

Set upperbpund, lowerbound, numPartitions

5. How many columns will the write command output in CSV file, based on last line of code below?

In [29]:
dfEmp = spark.createDataFrame([

                    ['Tony',"HR",8000],

                    ['Mona',None,10000],

                    ['Jill','Sls',5000],

                    ['Tim','Admin',7000]],('name','dept','salary'))

path="empDetails.csv"

dfEmp = dfEmp.withColumn("commision",col("salary")*1.03)

dfEmp.write.csv(path)

dfEmp = dfEmp.drop("dept")

dfEmp.write.csv(path)

AnalysisException: path file:/C:/Users/sobando/Downloads/SPARK_PRACTICE/empDetails.csv already exists.;

6. An Retail company processes its sales in Apache Spark on a daily batch basis. Each day, the sales is added into "sales_details.parquet" file that contains historical and on-going daily sales. what is the most appropriate compression option for parquet files to have optimal performance?

In [ ]:
No es claro

7. There is a Dataframe that has 30+ Columns. For further analysis, we need a specific set of 3 columns to be selected for further analysis. All options given below are suitable for the requirement except one. Choose the invalid option.

df.select(cols("fname","lname","sales")).show()

8.Choose the correct option to display the contents of the Row

In [31]:
from pyspark.sql import Row

cust = Row("fname","lname")

custRow = cust("John","Doe")

In [33]:
custRow[:]

('John', 'Doe')

9. The Dataframe df consists of information related to sales dept. Due to sales team hitting their targets, the management has provided a directive to assign 5% commission. Select the appropriate option from below.

In [37]:
df = spark.createDataFrame([

['John','Doe','25','2800'],

['Joe','Smith','24','2600']],('fname','lname','age','sales'))

In [38]:
from pyspark.sql.types import IntegerType

df.withColumn("sales_com",col("sales").cast(IntegerType())*0.05).show()

+-----+-----+---+-----+---------+
|fname|lname|age|sales|sales_com|
+-----+-----+---+-----+---------+
| John|  Doe| 25| 2800|    140.0|
|  Joe|Smith| 24| 2600|    130.0|
+-----+-----+---+-----+---------+

10. There are different methods to create a Dataframe in order run small tests. One of the options below will not provide the desired output. Choose the incorrect option.

In [40]:
df = spark.createDataFrame([
    ['John','Boston','john@mailcom'],
    ['Smith','New York','smith@mail.com']
],('name','city','email'))

In [41]:
df.show()

+-----+--------+--------------+
| name|    city|         email|
+-----+--------+--------------+
| John|  Boston|  john@mailcom|
|Smith|New York|smith@mail.com|
+-----+--------+--------------+

In [42]:
df = spark.createDataFrame([
    ['John','Boston','john@mailcom'],
    ['Smith','New York','smith@mail.com']
]).toDF('name','city','email')

In [43]:
df.show()

+-----+--------+--------------+
| name|    city|         email|
+-----+--------+--------------+
| John|  Boston|  john@mailcom|
|Smith|New York|smith@mail.com|
+-----+--------+--------------+

In [44]:
df = spark.createDataFrame([
    ['John','Boston','john@mailcom'],
    ['Smith','New York','smith@mail.com']
]).withColumnRenamed(col('name'),col('city'),col('email'))

TypeError: withColumnRenamed() takes 3 positional arguments but 4 were given

In [45]:
lst=['name','city','email']
df = spark.createDataFrame([
    ['John','Boston','john@mailcom'],
    ['Smith','New York','smith@mail.com']
],lst)

In [46]:
df.show()

+-----+--------+--------------+
| name|    city|         email|
+-----+--------+--------------+
| John|  Boston|  john@mailcom|
|Smith|New York|smith@mail.com|
+-----+--------+--------------+

11. As part of existing Spark Code, there is a Global View "gvSales" that has been created. In order to select data from the global view, choose the appropriate option from below.